@import './Feedback/Toast';
@import './Feedback/Tooltip';
@import './Feedback/Skeleton';
@import './Feedback/Dialogue';
@import './Input/TextField';
@import './Input/TextArea';
@import './Input/Select';
@import './Navigation/SideMenu';

.coral {
  font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", "PingFang SC", sans-serif;
  font-size: 14px;
  line-height: 20px;
  sub {
    font-size: 12px;
    line-height: 18px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
  h1 {
    font-weight: 700;
  }
  h2,
  h3 {
    font-weight: 500;
  }
  scrollbar-color: rgba(color(neutral), .25) rgba(black, 0)
}

.category-container {
  hr {
    margin-top: 2rem;
    border: 1.5px solid color(neutral, divider);
    background-color: color(neutral, divider)
  }
}

.mockup-container {
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid color(neutral, divider);
  padding: 1rem;
  @include media {
    padding: 3rem;
  }
}

.mockup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include media {
    gap: 3rem;
  }
}
.figma-icon-container {
  padding: .3rem;
  border-radius: .25rem;
  background-color: color(gray)
}
.figma-link {
  display: inline-flex;
  gap: .5rem;
  &:hover {
    p {
      color: color(accent)
    }
  }
}

.field {
  padding: 1rem;
  border: 1px solid color(neutral, divider);
  border-radius: 0.25rem;
  transition: all 0.1s ease;
  @include flex(column) {
    gap: 0.25rem;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: color(gray, secondary);
  }
  &:focus {
    border: 1px solid color(accent);
    background-color: color(neutral, bg);
  }
}

.codeblock-container.grid {
  @include flex(column) {
    gap: 1rem;
  }
  @include media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}


