.coral {
  font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", "PingFang SC", sans-serif;
  font-size: 14px;
  line-height: 20px;
  sub {
    font-size: 12px;
    line-height: 18px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
  h1 {
    font-weight: 700;
  }
  h2,
  h3 {
    font-weight: 500;
  }
}

.mockup-container {
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid color(neutral, divider);
  padding: 1rem;
  @include media {
    padding: 3rem;
  }
}

.mockup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include media {
    gap: 3rem;
  }
}

.field {
  padding: 1rem;
  border: 1px solid color(neutral, divider);
  border-radius: 0.25rem;
  transition: all 0.1s ease;
  @include flex(column) {
    gap: 0.25rem;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: color(gray, secondary);
  }
  &:focus {
    border: 1px solid color(accent);
    background-color: color(neutral, bg);
  }
}

.codeblock-container.grid {
  @include flex(column) {
    gap: 1rem;
  }
  @include media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.skeleton {
  border-radius: 0.25rem;
  background-color: #f2f3f4;
}
.skeleton.gradient {
  background: linear-gradient(to right, #e0e2e5 30%, rgba(242, 243, 244, 0) 50%, #e0e2e5 70%), #f2f3f4;
}

.skeleton.gradient.waving {
  background-size: 400% 100%;
  animation: wave 1000ms linear infinite;
  @keyframes wave {
    from {
      background-position: 100%;
    }
    to {
      background-position: 0%;
    }
  }
}

.skeleton.pulsing {
  --skeleton-default: #f2f3f4;
  --skeleton-color: #e0e2e5;
  animation: pulsing 1000ms linear infinite;
  @keyframes pulsing {
    0% {
      background-color: #f2f3f4;
    }
    50% {
      background-color: #e0e2e5;
    }
    100% {
      background-color: #f2f3f4;
    }
  }
}

.skeleton-wrap {
  @include flex(column) {
    gap: 0.5rem;
  }
  figcaption {
    display: block;
    text-align: center;
  }
  figcaption.label {
    font-size: 14px;
  }
}

.skeleton.remove {
  color: rgba(color(neutral), 0);
}

table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-weight: 600;
    color: color(gray);
    background-color: color(neutral, bg);
  }
  th,
  td {
    position: relative;
    font-size: 12px;
    line-height: 24px;
    padding: 1rem;
    border-bottom: 1px solid color(neutral, divider);
    @media (max-width: 760px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
    @media (max-width: 820px) {
      &:nth-child(2),
      &:nth-child(5) {
        display: none;
      }
    }

    span {
      display: block;
    }
    span.name {
      color: color(gray);
    }
    span.email {
      color: color(accent);
    }
  }
}

ul.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  @include media {
    gap: 3rem;
  }
  li.card-container {
    border-radius: 0.25rem;
    border: 1px solid color(neutral, divider);
    .info-container {
      flex: 1;
      @include flex(column) {
        justify-content: stretch;
      }
    }
    .product-container {
      padding: 1rem 1.5rem 0.5rem;
    }
    .name-container {
      @include flex(column) {
        gap: 0.5rem;
      }
    }
    .name h3 {
      line-height: 24px;
    }
    .name.skeleton {
      width: 100%;
      h3 {
        visibility: hidden;
      }
    }
    .cart-container.skeleton {
      cursor: default;
      outline: none;
      span,
      svg {
        visibility: hidden;
      }
    }
    .cart-container {
      cursor: pointer;
      color: color(accent);
      padding: 0.25rem 0.75rem;
      border-radius: 0.25rem;
      outline: 1px solid color(accent);
      transition: all 0.2s ease;
      @include flex {
        align-items: center;
        gap: 0.25rem;
      }
      &:hover {
        background-color: color(neutral, bg);
      }
      .add {
        font-weight: 600;
      }
    }
    .price-container.skeleton {
      span {
        visibility: hidden;
      }
    }
    .price-container {
      line-height: 16px;
      max-width: 10ch;
      @include flex {
        align-items: flex-start;
        gap: 0.25rem;
      }
      .currency {
        font-size: 12px;
      }
      .price {
        // font-weight: 600;
        color: color(accent);
      }
    }
    .description-container {
      flex: 1 0;
      font-size: 14px;
      line-height: 24px;
      padding: 0.5rem 1.5rem 1rem;
      .placeholder-container {
        @include flex(column) {
          gap: 0.5rem;
        }
      }
    }
    .description-placeholder {
      display: block;
      width: 100%;
      height: 1rem;
      &:last-child {
        width: 50%;
      }
    }
    .img-container {
      position: relative;
      padding: 2rem;
      border-bottom: 1px solid color(neutral, divider);
    }
    .placeholder-img {
      display: grid;
      place-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 124px;
      height: 124px;
      border-radius: 0.25rem;
      transform: translateX(-50%) translateY(-50%);
    }
    .img {
      border-radius: 0.25rem;
      display: block;
      width: 120px;
      height: 120px;
      background: color(neutral, bg) center center / cover no-repeat;
    }
    .footer-container {
      @include flex(column) {
        gap: 0.5rem;
      }
      line-height: 16px;
      font-size: 14px;
      padding: 1rem 1.5rem;
      .product-label.skeleton,
      .info-label.skeleton {
        span {
          visibility: hidden;
        }
      }
      .product-label {
        width: 45%;
      }
      .info-label {
        text-align: right;
        width: 25%;
      }
    }
  }
}
.spinner-container {
  $length: 65.54832458496094;
  $spinnerColor: #9499a4;
  .spinner {
    .stroke {
      fill: none;
      transform-origin: center;
      stroke: $spinnerColor;
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: $length;
      stroke-dashoffset: $length/4;
    }
  }
}
.spinner-container.spinning {
  $duration: 1.25s;
  $length: 65.54832458496094;
  .spinner {
    animation: spin $duration linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .stroke {
      backface-visibility: hidden;
      animation: trim $duration ease-in-out infinite;
      @keyframes trim {
        0% {
          stroke-dashoffset: $length/1.1;
        }
        50% {
          stroke-dashoffset: $length/4;
          transform: rotate(135deg);
        }
        100% {
          stroke-dashoffset: $length/1.1;
          transform: rotate(360deg);
        }
      }
    }
  }
}
.toastlist-container {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  margin: 8px;
  transform: translateY(-100%);
  @include flex {
    align-items: flex-end;
    justify-content: center;
  }
  .message-container::first-letter {
    text-transform: uppercase;
  }
  .toastlist {
    position: relative;
    pointer-events: all;
    @include flex(column-reverse) {
      gap: 0.5rem;
      align-items: center;
    }
    .toast-container.toasty {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.toast-container.light {
  color: color(coral);
  background-color: color(neutral);
  box-shadow: .05rem .15rem 1.25rem 0 rgba((color(coral)), .15)
}
.toast-container {
  cursor: default;
  border-radius: 4px;
  color: color(neutral);
  background-color: color(coral);
  width: fit-content;
  min-height: 2.25rem;
  min-width: 2.25rem;
  max-width: 320px;
  padding: 8px 16px;
  @include flex(column);
  align-items: flex-end;
  .container {
    align-self: flex-start;
    display: inline-flex;
    gap: 8px;
  }
}
.toast-icon {
  min-width: 20px;
  height: 20px;
}
.toast-icon.warning {
  fill: color(coral, yellow);
}
.toast-icon.info {
  fill: color(coral, blue);
}
.toast-icon.success {
  fill: color(coral, green);
}
.toast-icon.error {
  fill: color(coral, red);
}
.toast-icon.close {
  fill: color(neutral);
}
.button-container {
  cursor: pointer;
  color: color(coral, blue);
}

.close-options {
  @include flex {
    gap: 1rem;
  }
}

.input.toast {
  @include flex(column) {
    gap: 1rem;
    @include media {
      flex-direction: row;
    }
    .container {
      width: 100%;
    }
  }
  .textfield-container.toast {
    @include flex(column) {
      gap: 1rem;
    }
    @include media {
      flex-direction: row;
      flex: 1;
      .container {
        width: 100%;
      }
    }
    input[type="text"] {
      border-radius: 0.25rem;
      border: none;
      font-family: inherit;
      font-size: inherit;
      height: 2.25rem;
      transition: all 0.3s ease;
      padding: 0 0.75rem;
      color: color(coral);
      border: 1px solid color(neutral, divider);
      width: 100%;
      &::first-letter {
        text-transform: uppercase;
      }
      &:focus {
        border-color: color(coral, blue);
        outline: 0;
      }
      &::placeholder {
        color: rgba(color(coral, secondary), 0.35);
      }
    }
    input[type="text"]#message {
      width: 100%;
    }
    button {
      cursor: pointer;
      border-radius: 0.25rem;
      border: 0;
      background-color: color(coral, blue);
      padding: 0.5rem 1rem;
      color: color(neutral);
      height: 2.25rem;
      transition: all 0.1s ease;
      @include media {
        align-self: flex-end;
      }
      &:hover {
        background-color: lighten(color(coral, blue), 10%);
      }
    }
  }
  .container {
    @include flex(column) {
      gap: 0.5rem;
    }
  }
  .bottom-container {
    position: relative;
    @include flex {
      gap: 1rem;
      justify-content: space-between;
      @include media {
        justify-content: flex-start;
      }
    }
  }

  .checkbox-container.toast,
  .radio-container.toast {
    input[type="radio"],
    input[type="checkbox"] {
      appearance: none;
      position: absolute;
      top: 0;
      &:active + label {
        transform: scale(0.95);
      }
      &:checked + label {
        background-color: color(neutral, bg);
        border-color: rgba(color(gray, secondary), 0.5);
      }
      &:checked + label[for="success"] {
        background-color: rgba(color(coral, green), 0.05);
        border-color: color(coral, green);
      }
      &:checked + label[for="info"] {
        background-color: rgba(color(coral, blue), 0.05);
        border-color: color(coral, blue);
      }
      &:checked + label[for="warning"] {
        background-color: rgba(color(coral, yellow), 0.05);
        border-color: color(coral, yellow);
      }
      &:checked + label[for="error"] {
        background-color: rgba(color(coral, red), 0.05);
        border-color: color(coral, red);
      }
      &:checked + label[for="close"] {
        background-color: rgba(color(coral), 1);
        border-color: color(coral);
      }
    }
    label {
      cursor: pointer;
      border: 1px solid rgba(color(coral, secondary3), 0.5);
      border-collapse: collapse;
      border-radius: 0.25rem;
      display: grid;
      place-items: center;
      width: 2.25rem;
      height: 2.25rem;
      transition: all 0.1s ease;
    }
    label:hover {
      background-color: color(neutral, bg);
    }
    label[for="close"] {
      background-color: color(coral, secondary3);
      &:hover {
        background-color: color(coral, secondary2);
      }
    }
    label[for="success"]:hover {
      border-color: rgba(color(coral, green), 0.25);
      background-color: rgba(color(coral, green), 0.05);
    }
    label[for="info"]:hover {
      border-color: rgba(color(coral, blue), 0.25);
      background-color: rgba(color(coral, blue), 0.05);
    }
    label[for="warning"]:hover {
      border-color: rgba(color(coral, yellow), 0.25);
      background-color: rgba(color(coral, yellow), 0.05);
    }
    label[for="error"]:hover {
      border-color: rgba(color(coral, red), 0.25);
      background-color: rgba(color(coral, red), 0.05);
    }
  }
}

.close-container {
  cursor: pointer;
  max-height: 20px;
}

.fade {
  animation: fadeoff .2s ease forwards;
  @keyframes fadeoff {
    from {
      opacity: 1
    }
    to {
      opacity: 0
    }
  }
}

.preview-container.toast {
  display: grid;
  place-items: center;
  padding: 2rem;
  min-height: 12rem;
  background-color: color(neutral, bg);
}
.property-container {
  width: 100%;
  @include flex {
    justify-content: space-between;
  }
}
