.flex-container {
  @include flex
}
.wrap {
  flex-wrap: wrap;
}
.flex-responsive {
  @include flex(column);
  @include media {
    @include flex(row);
    flex-wrap: wrap;
  }
}

.wide-mobile-small-desktop {
  width: 100%;
  @include media{
    width: 25%
  }
}

.stack {
  @include flex(column);
}
.center {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.middle {
  align-items: center;
}
.between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

.dribbble {
  background-color: color(accent, dribbble);
}

.fixed {
  position: fixed;
}

.full {
  width: 100%;
}

.codeblock {
  font-size: 14px;
}

.gridcenter {
  display: grid;
  place-items: center;
}

.accent {
  color: color(accent);
}

.em {
  font-weight: 600;
}

.title {
  font-weight: 600;
  color: color(gray);
}

.number {
  padding: 0.25rem 0.65rem;
  font-size: 14px;
  border-radius: 0.25rem;
  background-color: color(neutral, bg);
}

.line-clamp.three {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin transition($speed: "default") {
  transition-property: all;
  transition-timing-function: ease;
  @if $speed = "fast" {
    transition-duration: .15s;
  }
  @else if $speed = "slow" {
    transition-duration: .5s;
  } 
  @else {
    transition-duration: .3s;
  }
  @content
}