.wrapper {
  $max-width: 1440px;
  margin: 0 20px;
  max-width: $max-width;
  @include media("min", $max-width) {
    margin: 0 auto;
  }
}

.hide {
  display: none;
}

.svg-container {
  height: 48px;
  width: 48px;
  border-radius: .25rem;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: rgba(color(accent), .1);
}

svg {
  path.color {
    fill: color(accent);
  }
  path.stroke {
    stroke: color(accent);
    fill: none;
  }
}

.label {
  width: fit-content;
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  color: color(accent, secondary);
  background-color: rgba(color(accent, secondary), 0.1);
  font-weight: 700;
  font-size: 0.8rem;
  @include flex {
    gap: 0.5rem;
    align-items: center;
  }
}