.flex-container {
  @include flex;
}
.stack {
  @include flex(column)
}
.center {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.middle {
  align-items: center;
}
.between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

.dribbble {
  background-color: color(accent, dribbble);
}

.fixed {
  position: fixed;
}

.full {
  width: 100%;
}

.gridcenter {
  display: grid;
  place-items: center;
}

.accent {
  color: color(accent);
}

.em {
  font-weight: 600;
}

.title {
  font-weight: 600;
  color: color(gray)
}

.number {
  padding: .25rem .65rem;
  font-size: 14px;
  border-radius: .25rem;
  background-color: color(neutral, bg)
}

.line-clamp.three {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
