$colors: (
  accent: (
    main: #017de9,
    sea: #000084,
    dribbble: #ea4c89,
    coral1: #014f86,
    coral2: #2c7da0,
    coral3: #468faf,
    coral4: #61a5c2,
    coral5: #a9d6e5,

  ),
  gray: (
    main: #202325,
    secondary: #797b7c,
  ),
  neutral: (
    main: #fff,
    bg: #f7f8fc,
    divider: #eeeff2,
  ),
  garena: (
    main: #e41e26,
  ),
  shopee: (
    main: #ee4d2d,
  ),
  seamoney: (
    main: #000084,
  ),
);

$breakpoint: 1024px;
