@import "./variables";
@import "./functions";
@import "./typography";
@import "./nav";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: color(gray, secondary);
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

.source {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    @include flex {
        gap: 0.5rem;
        align-items: center;
    }
}

.dribbble {
    background-color: color(accent, dribbble);
}

.wrapper {
    padding: 0 1.5rem;
    @include media {
        padding: 0 3rem;
    }
}

.scrium {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    background-color: color(gray);
    opacity: 0.5;
}

.fixed {
    position: fixed;
}

.content {
    @include media {
        display: grid;
        grid-template-columns: 296px auto;
    }
}

header {
    position: relative;
    height: 8rem;
    background-color: color(accent, sea);
    overflow: hidden;
    @include flex {
        align-items: center;
        @include media {
            align-items: flex-end;
        }
    }
    @include media {
        height: 18rem;
    }
    .header-container {
        z-index: 2;
        height: 100%;
        @include flex {
            gap: 2rem;
            align-items: center;
        }
        @include media {
            background-image: linear-gradient(rgba(black, 0), rgba(black, 0.75));
        }
    }
    .hamburger-container.open {
        color: color(accent, sea);
        background-color: rgba(color(accent, sea), 0);
    }
    .hamburger-container.fixed {
        top: 3rem;
        background-color: color(accent, sea);
    }
    .hamburger-container {
        top: 0;
        padding: 0.25rem;
        color: color(neutral);
        transition: all 0.3s ease;
        @include media {
            display: none;
        }
    }
    .text-container {
        width: 100vw;
        height: 100%;
        z-index: 2;
        @include flex(column) {
            justify-content: center;
            gap: 0.5rem;
        }
        @include media {
            justify-content: flex-end;
            padding-bottom: 3rem;
        }
    }
    .bottom-container {
        @include flex {
            align-items: center;
            gap: 1rem;
        }
        .avatar-container {
            overflow: hidden;
            border-radius: 1rem;
            width: 2rem;
            .bg-image {
                width: 100%;
                padding-top: 100%;
                background: color(neutral, bg) url("../Images/me.png") center center / cover no-repeat;
            }
        }
        p {
            font-size: 12px;
            color: color(neutral);
            @include media {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .headerbg-container {
        @include absolute;
        @include media(max) {
            display: none;
        }
        .source {
            font-size: 12px;
            color: color(neutral);
            @include absolute {
                z-index: 3;
                top: initial;
                left: initial;
                bottom: 3rem;
                right: 3rem;
            }
        }
    }
}

.video-content {
    width: 100%;
    height: auto;
}

h1.home-title {
    color: color(neutral);
    font-size: 1.125rem;
    line-height: 2rem;
    @include media {
        font-size: 4rem;
        line-height: 6rem;
    }
}

main {
    @include flex(column) {
        gap: 3rem;
        @include media {
            gap: 6rem;
        }
    }
    padding: 1.5rem;
    @include media {
        padding: 4rem;
    }
}

section {
    max-width: 1280px;
    margin: 0 auto;
    @include flex(column) {
        gap: 2rem;
    }
    &:not(:last-child) {
        position: relative;
        padding-bottom: 1rem;
        &:after {
            position: absolute;
            bottom: -3rem;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background-color: color(neutral, divider);
        }
    }
    h2 {
        color: color(accent, sea);
    }
    h3 {
        color: color(gray);
    }
    ul.subtopic-container {
        @include flex(column) {
            gap: 3rem;
            @include media {
                gap: 4rem;
            }
        }
        li {
            @include flex(column) {
                gap: 2rem;
            }
        }
    }
    ul.image-container,
    ul.video-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        background-color: color(neutral, bg);
        gap: 1rem;
        li {
            @include flex(column) {
                gap: 0.25rem;
            }
            video,
            .image {
                background: color(neutral, bg) center center / contain no-repeat;
                position: relative;
                overflow: hidden;
                min-height: 12rem;
                max-height: 14rem;
            }
            sub {
                opacity: 0.75;
                font-size: 14px;
                text-align: center;
                padding: 0.75rem 0;
            }
        }
    }
}
